body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    color: mediumpurple;
    padding: 4px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 2px;
    z-index: 1000;
    height: 70px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navligne {
    list-style-type: none;
    display: flex;
    justify-content: end;
    margin-top: 8px;
    padding: 0;
}

.navligne li {
    margin-right: 2px;
}

.navligne li a {
    text-decoration: none;
    color: mediumpurple;
    font-family: 'Roboto', sans-serif;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navligne li a:hover {
    background-color: #f0f0f0;
}

nav h3 {
    color: purple;
    text-align: start;
}

.bod {
    position: relative;
    background: linear-gradient(rgba(0,0,0, .8),rgba(0,0,0, .4)), url('assets/me.jpeg');
    background-size: cover;
    background-position: center;
    margin-top: 80px; /* Pour compenser la hauteur du header */
    padding: 20px;
}

.about {
    display: flex;
    justify-content: start;
    align-items: center;
    max-width: 600px;
    gap: 3rem;
    padding: 20px;
    background-color: mediumpurple;
    color: whitesmoke;
    border-radius: 25px;
}
.info h1 {
    color: black;
}
.info a {
    color: blue;
    font: 1.25em sans-serif;
}

.about .info {
    max-width: 600px;
    text-align: left;
}
.resume {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-left: auto;
    gap: 1rem;
    padding: 20px;
    background-color: mediumpurple;
    color: whitesmoke;
    border-radius: 25px;
    text-align: center;
    align-items: center;
}
.portf {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

form {
    max-width: 600px;
    margin: 25px auto;
    text-align: left;
    background: mediumpurple;
    padding: 20px;
    border-radius: 5px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: whitesmoke;
    font: 1em sans-serif;
}

form input, form textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background: purple;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

button:hover {
    background: #555;
}

footer {
    background: white;
    color: mediumpurple;
    text-align: center;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
}

.bas {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 10px 0;
}

.bas a {
    text-decoration: none;
    color: mediumpurple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1.5rem;
}

.bas a:hover {
    background-color: #f0f0f0;
}
